/*Global css*/
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(image/background.png);
min-height: 100vh;
width: 100%;
background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
}

.header {
  width: 100%;
  height: 90px; /* Increased header size slightly */
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
}

.glass-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-center {
  display: flex;
  justify-content: center;
  flex-grow: 5;
}

.nav-center ul {
  display: flex;
  list-style: none;
}

.nav-center ul li a {
  margin: 0 30px;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.nav-center ul li a:hover {
  color: yellow;
}

.logo img {
  width: 160px;
}

.profile-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  margin-right: 50px; /* Adjust as needed */
}

.right-side {
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  padding: 10px;
  border: 2px solid #ffffff;
  border-radius: 50px 0 0 50px;
  outline: none;
  color: #ffffff;
  background: transparent;
  transition: border-color 0.3s;
}

.search-container input[type="text"]::placeholder {
  color: #ffffff;
}

.search-container input[type="text"]:focus {
  border-color: #FFFF33;
}

.search-container button {
  padding: 10px 20px;
  border: 2px solid #ffffff;
  border-radius: 0 50px 50px 0;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.search-container button:hover {
  background-color: #FFFF33;
  color: #000000;
  box-shadow: 0 0 10px 5px #FFFF33;
}

.profile-icon img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(50px);
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 10px;
  width: 150px;
}

.dropdown-menu a {
  padding: 10px;
  text-decoration: none;
  color: white;
  text-align: center;
}

.dropdown-menu a:hover {
  background: rgba(255, 255, 255, 0.20);
}


    .card {
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
      border-radius: 10px;
      padding: 20px;
      margin: 20px;
      flex: 1;
    }

    .image-box img {
      width: 100%;
      border-radius: 10px;
    }

    .profile-link h2 {
      color: white;
      text-decoration: none;
    }

    .profile-details {
      display: flex;
      align-items: center;
      margin-top: 10px;
    }

    .profile-details img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .profile-details .name-job {
      color: white;
    }

    .categories-container {
      margin: 90px 0 10px; /* Adjusted margin to ensure space below the header */
      text-align: center;
      width: 100%;
    }

    .categories-container h2 {
      font-size: 30px;
      margin-bottom: 50px; /* Increased bottom margin */
      color: yellow; /* Change the color of Categories to yellow */
      position: relative;
    }

    .categories-container h2::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background: white;
      margin-top: 10px; /* Reduced margin top */
    }

    .button-container {
      text-align: center;
      position: absolute; /* Remove absolute positioning if you want the button below the header */
      top: 190px; /* Adjust the position of the button container */
      left: 50%;
      transform: translateX(-50%);
      width: 90%; /* Adjust the width of the container */
      display: flex; /* To use justify-content */
      justify-content: space-between; /* Horizontally center the button */
    }

    .button-container button {
      background-color: transparent; /* Adjust button background color */
      color: #ffffff; /* Adjust button text color */
      padding: 10px 20px; /* Adjust button padding */
      border: 2px solid #ffffff; /* Remove default button border */
      border-radius: 50px; /* Add button border radius */
      cursor: pointer; /* Indicate clickable button */
      transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Added box-shadow */
    }

    .button-container button:hover {
      background-color: none;
      color: #ffffff; /* Change text color on hover */
      box-shadow: 0 0 10px 5px #FFFF33; /* Add a glowing effect */
    }

    /* Add this style to make the active button gray */
    .button-container button.active {
      background-color: #ccc;
      color: #000;
    }

    @media (max-width: 768px) {
      .nav-center ul {
        flex-direction: column;
      }
      .categories-container h2 {
        font-size: 20px;
      }
      .filter-button {
        font-size: 14px;
      }
      .cards {
        grid-template-columns: repeat(1, 1fr); /* One column for smaller screens */
      }
    }

.footer {
      width: 100%;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
      text-decoration: none;
      color: yellow;
      text-align: center;
      padding: 10px;
      position: fixed;
      bottom: -100px; /* Hide footer initially */
      left: 0;
      transition: bottom 0.3s ease; /* Smooth transition */
    }

    @media (max-width: 768px) {
      .nav-center ul {
        flex-direction: column;
      }
      .categories-container h2 {
        font-size: 20px;
      }
      .filter-button {
        font-size: 14px;
      }
      .cards {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    .upload-container {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
      padding: 20px;
      border-radius: 10px;
      width: 300px;
      text-align: center;
      z-index: 2000;
    }

    .upload-container input[type="file"] {
      margin-bottom: 10px;
    }

    .upload-container button {
      margin-top: 10px;
    }

    .introduction {
      margin: 120px auto;
      margin-bottom: 1px;
      padding: 50px;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
      border-radius: 10px;
      width: 90%;
      text-align: center;
      color: deeppink;
      font-size: 30px;
    }
    .introduction h4{
      color:ghostwhite ;
    }

    .contents {
  text-align: center;
  margin-bottom: 0; /* Removed bottom margin */
  color: yellow;
  padding: 20px;
  border-radius: 5px;
  font-family: 'DM Serif Text', serif;
}


    .cards-container {
      display: grid;
      margin-bottom: 1px;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      padding: 50px;
      flex-wrap: wrap;
  margin-top: 0; /* Removed top margin */
      
    }